name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - release/*

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read Java version from Gradle
        id: java_version
        run: |
          JAVA_VERSION=$(grep -oP 'JavaLanguageVersion.of\(\K[0-9]+' backend-smart-workplace/build.gradle || true)
          if [ -z "$JAVA_VERSION" ]; then
            echo "Java version not found in build.gradle"
            exit 1
          fi
          echo "java=$JAVA_VERSION" >> $GITHUB_OUTPUT

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ steps.java_version.outputs.java }}
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x backend-smart-workplace/gradlew

      - name: Build, test and verify coverage
        working-directory: backend-smart-workplace
        run: ./gradlew clean check

      - name: Upload JaCoCo HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: backend-smart-workplace/build/reports/jacoco/test/html
